<div class="header">
  <p class="version">Versão - 1.0</p>
  <div class="top-section d-flex align-items-center">
    <div class="logo">
      <img id="imagem" src="assets/img/logo.png" alt="img">
    </div>
    <div class="search-container d-flex align-items-center">
      <input type="text" placeholder="O que você procura?" class="search-input form-control me-2" />
      <button class="search-button btn btn-primary" (click)="onSearch()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <div>
        <button (click)="verificarLoginNovoProduto()" class="new-post-button">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <nav class="navigation">
    <ul class="list-unstyled d-flex mb-0">
      <li class="me-3"><a id="Home" routerLink="">Home</a></li>
      <li class="me-3"><a id="DestaquesdaSemana" routerLink="">Destaques da Semana</a></li>
      <li><a id="Recentes" routerLink="/favoritos">Favoritos</a></li>
      <li class="drop-div">
        <a class="MeuPerfil" routerLink="/cadastro-usuario">Meu Perfil</a>
        <div class="drop-content">
          <a (click)="verificarLoginOuRedirecionar()">Login/Cadastro</a>
          <a (click)="verificarLoginOuRedirecionar()">Editar Perfil</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</div>