<div class="header">
  <div class="top-section d-flex align-items-center">
    <div class="logo">
      <img id="imagem" src="assets/img/logo.png" alt="img">
    </div>
    <div class="search-container d-flex align-items-center">
      <input type="text" placeholder="O que você procura?" class="search-input form-control me-2" />
      <button class="search-button btn btn-primary" (click)="onSearch()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <div>
        <button class="new-post-button">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <nav class="navigation">
    <ul class="list-unstyled d-flex mb-0">
      <li class="me-3"><a id="Home" href="#">Home</a></li>
      <li class="me-3"><a id="DestaquesdaSemana" href="#">Destaques da Semana</a></li>
      <li><a id="Recentes" href="#">Recentes</a></li>
      <li><a id="MeuPerfil" href="#">Meu Perfil</a></li>
    </ul>
  </nav>
</div>
