<div class="container">
  <section id="produto-form">
    <h2 class="h2Cadastrar">Cadastrar Novo Produto</h2>
    <form id="new-produto-form" (submit)="cadastrarProduto()">
      <label id="text" for="product-image">Imagem (URL):</label>
      <input type="text" id="product-image" placeholder="URL da imagem" [(ngModel)]="produto.urlProduto" name="image"
        required />

        <div *ngFor="let promocao of produto.promocoes; let i = index">
          <label for="promotion-link-{{i}}">Link da Promoção (URL):</label>
          <input type="text" id="promotion-link-{{i}}" placeholder="URL da promoção" [(ngModel)]="produto.promocoes[i].urlPromocao"
            name="promotionLink{{i}}" required />

          <label for="product-name">Nome do Produto:</label>
          <input type="text" id="product-name" placeholder="Nome do Produto" [(ngModel)]="produto.nome" name="name" required />

          <label for="product-price-{{i}}">Preço:</label>
          <input type="text" id="product-price-{{i}}" placeholder="Preço da Promoção" [(ngModel)]="produto.promocoes[i].preco"
            name="price{{i}}" mask="separator.2" prefix="R$ " required />

          <label for="product-description">Vendido por:</label>
          <input type="text" id="product-description" placeholder="ex: Magazine Luiza" [(ngModel)]="produto.descricao"
            name="description" required />
        </div>

      <button type="submit" class="btn-cadastrar">
        Cadastrar Produto
      </button>
      <div class="error-message">
        <span *ngIf="isClicked && !isFormValid()">
          Preencha todos os campos corretamente.
        </span>
      </div>
    </form>
  </section>

  <section class="container" id="produto-container">
    <div *ngFor="let promocao of produto.promocoes" class="produto-card" (click)="openPromotionLink(promocao.urlPromocao)">
      <img [src]="produto.urlProduto" alt="{{ produto.nome }}" />
      <h3>{{ produto.nome }}</h3>
      <h2>Preço: {{ promocao.preco | currency:'BRL':'symbol' }}</h2>
      <p>{{ produto.descricao }}</p>

      <!-- Ícones de like e dislike -->
      <div class="icon-actions">
        <fa-icon [icon]="faThumbsUp" style="color: #ff4500; cursor: pointer" title="Like"></fa-icon>
        <fa-icon [icon]="faThumbsDown" style="color: #ff4500; cursor: pointer" title="Dislike"></fa-icon>
      </div>
    </div>
  </section>
</div>
